@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background: rgb(246, 231, 231);
  background: linear-gradient(
    6deg,
    rgba(246, 231, 231, 1) 0%,
    rgba(81, 94, 202, 1) 100%,
    rgba(2, 2, 80, 1) 100%
  );
}
